<div class="card-container">
    <div *ngFor="let app of appareils;" class="card" [className]="app.state" [id]="app.id">
        <img class="card-img-top" [src]="appareilAvatar" alt="{{ app.label }}"
             style="height: 100px; width: 100px"><div class="card-body">
            <h5 class="card-title">{{ app.label }}</h5>
            <p class="card-text">State: {{ app.state }}</p>
            <label class="switch">
                <input type="checkbox" [(ngModel)]="app.state" (ngModelChange)="updateAppareil(app)">
                <span class="slider"></span>
            </label>
        </div>
    </div>
</div>
<button class="btn btn-success" (click)="switch_All(true)" >Switch All On</button>
<button class="btn btn-danger" (click)="switch_All(false)" >Switch All Off</button>
